<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Annytab.Stemmer" version="1.2.4" targetFramework="net472" />
  <package id="dotnet-stop-words" version="1.0.4" targetFramework="net472" />
  <package id="Fastenshtein" version="1.0.0.5" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.21" targetFramework="net472" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NumSharp" version="0.20.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
  <package id="TwinFinder.Nuget" version="1.0.0" targetFramework="net472" />
  <package id="UnidecodeSharpFork" version="1.0.0" targetFramework="net472" />
</packages>