<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Annytab.Stemmer" version="1.2.4" targetFramework="net472" />
  <package id="cs-decision-tree" version="1.0.1" targetFramework="net472" />
  <package id="CsvHelper" version="19.0.0" targetFramework="net472" />
  <package id="dotnet-stop-words" version="1.1.0" targetFramework="net472" />
  <package id="Fastenshtein" version="1.0.0.5" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.29" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NumSharp" version="0.20.5" targetFramework="net472" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.8" targetFramework="net472" />
  <package id="SharpLearning.Containers" version="0.31.8" targetFramework="net472" />
  <package id="SharpLearning.DecisionTrees" version="0.31.8" targetFramework="net472" />
  <package id="SharpLearning.InputOutput" version="0.31.8" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="TwinFinder.Nuget" version="1.0.0" targetFramework="net472" />
  <package id="UnidecodeSharpFork" version="1.0.0" targetFramework="net472" />
</packages>